@import "../node_modules/react-image-gallery/styles/css/image-gallery.css";

body {
  background-color: rgb(29, 53, 75);
  background-image: url("http://getwallpapers.com/wallpaper/full/5/e/0/725471-free-fishing-backgrounds-1920x1080.jpg");

  background-position: center;
  background-size: cover;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.featured-slide {
  height: 500px;
  width: 700px;
}
#showpage-title {
  margin-bottom: 0.5em;
  color: rgba(255, 255, 255, 0.883);
  margin-top: 0.5em;
  font-size: 4vw;
  font-family: "Playfair Display", serif;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.924);
  border-bottom-style: ridge;
  border-bottom-width: 5px;
}
#gallery-div {
  background-color: rgb(248, 246, 246);
  border-style: ridge;
  border-width: 10px;
  border-radius: 2%;
  opacity: 0.95;
}
#signup-div {
  /* background-image: url('https://www.genomebc.ca/wp-content/uploads/2017/08/aquaculture_strat_banner-1-1200x300.jpg');
  
  background-position: center;
  background-size: cover; */
  opacity: 0.9;
}
#login-div {
  /* background-image: url('https://www.genomebc.ca/wp-content/uploads/2017/08/aquaculture_strat_banner-1-1200x300.jpg');
  
  background-position: center;
  background-size: cover; */
  opacity: 0.9;
}
.App {
  text-align: center;
}
.comment-group {
  border-style: ridge;
  font-size: 1vw;
  overflow-y: auto;
  border-color: rgba(0, 0, 0, 0.164);
  /* opacity: 0.5; */
  border-width: 5px;
  border-radius: 2%;
  padding: 2em;
  width: 100%;
  height: 800px;
  opacity: 0.95;
}
.lake-show-content {
  font-size: 2vw;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.lakeShowInfo {
  text-align: center;
  margin-left: 6em;
}
#sideNav {
  position: fixed;

  left: 0;
  /*fixes the navbar to the side even while scrolling*/
}

.main-title {
  margin-top: 0.5vw;
  font-size: 3.5vw;
  margin-bottom: 1.5%;
  color: rgba(236, 240, 243, 0.986);
  font-family: "Playfair Display", serif;
  text-shadow: 2px 2px rgba(114, 111, 111, 0.644);
  opacity: 0.9;
}

.lakeCards {
  /* margin-left:25%; */
}
